{% extends "./layouts/main.njk" %}
{% block body %}
  <section class="card">
    <div class="card-body">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequuntur tenetur autem molestiae doloremque repellat id, illum quis accusantium est.
      </p>
    </div>
  </section>
{% endblock body %}
