{% extends "./layouts/main.njk" %}
{% block body %}
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi assumenda provident nostrum consequatur dicta non voluptas quia similique, praesentium adipisci quidem! Illum natus numquam possimus porro repellat deserunt temporibus enim.
  </p>
{% endblock body %}
