<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Nunjucks</title>
  </head>
  {% block body %}
    <body>
      <h1>Navigation</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi assumenda provident nostrum consequatur dicta non voluptas quia similique, praesentium adipisci quidem! Illum natus numquam possimus porro repellat deserunt temporibus enim.
      </p>
      <h1>Footer</h1>
    </body>
  {% endblock body %}
</html>
